<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.plateer.mapper.DeliveryAddressMapper">
    <insert id="add" parameterType="com.plateer.domain.DeliveryAddress">
        insert into deliveryAddress
        (
        isDefault,
        userEmail,
        receiver,
        spotAlias,
        contactNumber,
        phoneNumber,
        roadAddress,
        zipcodeAddress,
        remainAddress
        )
        values (
        #{isDefault},
        #{userEmail},
        #{receiver},
        #{spotAlias},
        #{contactNumber},
        #{phoneNumber},
        #{roadAddress},
        #{zipcodeAddress},
        #{remainAddress}
        )
    </insert>
    <select id="list" resultType="com.plateer.domain.DeliveryAddress">
        select * from deliveryAddress
        where
        userEmail = #{userEmail}
        order by isDefault desc
    </select>
    <delete id="delete">
        delete from deliveryAddress
        where
        id = #{id}
    </delete>
    <update id="update" parameterType="com.plateer.domain.DeliveryAddress">
        update deliveryAddress
        set
        receiver = #{receiver},
        spotAlias = #{spotAlias},
        contactNumber = #{contactNumber},
        phoneNumber = #{phoneNumber},
        roadAddress = #{roadAddress},
        zipcodeAddress = #{zipcodeAddress},
        remainAddress = #{remainAddress}
        where id = #{id}
    </update>
    <update id="setDefault">
        update deliveryAddress
        set
        isDefault = true
        where
        id = #{id}
    </update>
    <update id="setAllDefaultFalse">
        update deliveryAddress
        set
        isDefault = false
        where
        userEmail = #{userEmail}
    </update>
</mapper>